.sheet-data-validator {
    width: 800px;
    margin: 50px auto;
    text-align: center;
}

.sheet-data-validator .data {
    width: 100%;
    min-height: 300px;
    padding: 10px;
}

.sheet-data-validator .valid-btn {
    width: 80px;
    height: 38px;
    margin-top: 20px;
}

.sheet-data-validator .results {
    margin-top: 20px;
    text-align: left;
}

.sheet-data-validator .error {
    color: #F44336;
}

.sheet-data-validator .success {
    color: #4CAF50;
    text-align: center;
}


.results .error {
    border: 1px solid #e74c3c;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fbeaea;
    border-radius: 5px;
}

.results .error p {
    margin: 5px 0;
}

.results .success {
    color: #27ae60;
    font-weight: bold;
}
