.tool-list-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
    text-align: center;
  }
  
  .tool-list-title {
    font-size: 2em;
    margin: 3em;
  }
  
  .tool-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 16px;
    justify-content: center;
  }